<?xml version="1.0"?>
<!DOCTYPE metaconfiguration SYSTEM "meta.dtd">

<!-- $Id$ -->

<metaconfiguration>
<classes>

	<class name="User" type="final">
		<properties>
			<identifier name="id" />
			<property name="name" type="String" size="64" required="true" />
			<property name="surname" type="String" size="64" required="true" />
			<property name="username" type="String" size="64" required="true" />
			<property name="password" type="String" size="32" required="true" />

			<property name="email" type="String" size="128" required="true" />
		</properties>
		<pattern name="DictionaryClass" />
	</class>
	
	<class name="Type" type="final">
		<properties>
			<identifier name="id" />
			<property name="name" type="String" size="128" required="true" />
			<property name="parent" type="Type" relation="OneToOne" required="false" fetch="lazy" />
			<property name="left" type="Integer" required="false" />
			<property name="right" type="Integer" required="false" />
		</properties>
		<pattern name="DictionaryClass" />
	</class>

	<class name="Item" type="final">
		<properties>
			<identifier name="id" />
			<property name="name" type="String" size="128" required="true" />
			<property name="description" type="String" size="512" required="false" />
			<property name="type" type="Type" relation="OneToOne" required="false" />
			<property name="price" type="Numeric" size="20,2" required="false" />
			<property name="sale" type="Sale" relation="OneToOne" required="true" fetch="lazy" />
		</properties>
		<pattern name="DictionaryClass" />
	</class>

	<class name="Sale" type="final">
		<properties>
			<identifier name="id" />
			<property name="name" type="String" size="128" required="true" />
			<property name="description" type="String" size="512" required="false" />
			<property name="user" type="User" relation="OneToOne" required="true" fetch="lazy" />
			<property name="items" relation="OneToMany" type="Item" required="false" />
		</properties>
		<pattern name="DictionaryClass" />
	</class>



</classes>
</metaconfiguration>
